:root{
    --primaryColor:#8D448B;
    --headingColor: #02073E;
    --subHadingColor:#0F2137;
    --textColor:#343D48;
    --bodyFont:'DM Sans', sans-serif;
    --bg:#F6F8FB;
    --BorderColor:#B7BEC9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: var(--bodyFont);
    font-size: 16px;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 18px;
    
}
.btn{
    padding: 8px 26px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 5px;
}
.primary-btn{
    background-color:var(--primaryColor) ;
    color:#ffff ;
    border: 1px solid var(--primaryColor);
    transition: .5s;
}
.primary-btn:hover{
    color: var(--subHadingColor);
    background-color: var(--bg);
    border: 1px solid var(--textColor);
}
.outline-btn{
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    transition: .5s;
}
/* .outline-btn:hover{
    background-color: var(--primaryColor);
    border: 2px solid var(--headingColor);
    color: var(--bg);
} */
a{
    text-decoration: none;
}

/* Header */
header{
    background-color:var(--bg);
}
.heading{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 30px;
}
.main-menu ul {
    display: flex;
}
.main-menu ul li {
    padding: 10px;
    list-style: none;
}
.main-menu ul li a{
    text-decoration: none;
    color: var(--headingColor);
    font-weight: 700;
    line-height: 33px;
    transition: .5s;
}
.main-menu ul li a:hover{
    color: var(--primaryColor);
    text-decoration: underline var(--primaryColor);
}
.menu-icon{
    display: none;
    font-size: 20px;
    margin: 20px;
}
/* Hero-Sec */
.hero-section-wrapper{
    display: flex;
    padding-top:30px ;
    
}
.hero-right{
    width: 50%;
}
.hero-left{
    width: 50%;
}

.hero-right p{
    color: var(--textColor);
    padding:20px 0px 20px 0px ;
    width: 70%;
}
.hero-left img{
    width: 100%;
    width: 100%;
}

.submit-form{
    display: flex;
    gap:10px;
    padding: 20px 0px;
}
.submit-form input[type="text"]{
    width: 50%;
    background-color: #ffff;
    border: 1px solid var(--BorderColor);
}
/* .sponsor{
    width: 70%;
    display: flex;
    gap: 10px;
} */
.sponsor img{
   padding-right: 10px;
    height: 20px;
    width: 90px;
  
}

.feature{
    text-align: center;
    padding: 60px 0px;
}
.feature-section{
    display: flex;
    gap: 20px;
}
 .feature-heading{
  padding: 30px 0px;
}
.feature-heading h5{
    font-weight: 500;
    color:var(--primaryColor);
    padding-bottom: 8px;
}
.feature-heading h3{
    padding-bottom: 50px;
   
}

.feature-apps-details{
    padding: 20px 0px;
}
.app-wrapper{
    text-align: center;
    width: 30%;
    
}
.app-wrapper h4{
    padding:20px ;
}
.app-wrapper p{
    padding:0px 5px                                                                                                                                             ;
}
.boost-agency{
    display: flex;
    padding: 70px 0px;
    gap: 60px;
    align-items: center;
}
.right-agency{
    width: 50%;

}
.left-agency{
  width: 50%;
}
.right-agency img{
    height: 100%;
    width: 100%;
}

/* .left-agency-content{
    padding-left: 50px;
  align-items: center;
} */
.left-agency h2{
    padding: 20px 0px;
}
.left-agency p{
    padding-bottom: 20px;
}
.left-agency a{
    color: var(--headingColor);
}

.left-agency i{
    color: var(--headingColor);
    font-size: 14px;
    padding: 0px 5px;
}
.icon a{
    color: var(--primaryColor);
    font-size: 18px;
    font-weight: 500;
}
.icon a:hover{
    color:var(--headingColor);
}

.tutorial-sec{
    padding: 80px 0px;
}
.tutorial-heading{
    padding: 90px 0px;
    text-align: center;
}
.tutorial-heading h5{
    color: var(--primaryColor);
    padding: 10px 0px;
    font-weight: 700;
}
.tutorial-wrapper{
    display: flex;
    gap: 30px;
}
.tutorial-box{
    width: 30%;
}
.tutorial-box img{
    width: 100%;
}
.tutorial-box P{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
}
/* Footer */
footer{
    background-color: var(--textColor);
    padding: 70px 0px;
}
.footer-box{
    padding-bottom: 50px;
    display: flex;
    /* background-color: var(--primaryColor); */
    border-radius: 5px;
    align-items: center;
    /* text-align: center; */
}
.footer-box p{
    color: var(--bg);
    font-size: 18px;
    width: 70%;
    font-weight: 600;
}
.footer-right{
    width: 40%;
}
.footer-left{
    width: 60%;
    text-align: center;
}

.footer-down{
    display: flex;
    justify-content: space-between;
}
.footer-menu ul {
    display: flex;

}
.footer-menu ul{
    list-style: none;
}
.footer-menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: var(--bg);
    font-size: 14px;
    font-weight: 600;
    line-height: 33px;
    transition: .5s;
}
.footer-menu ul li a:hover{
    color: var(--primaryColor);
   text-decoration: underline 1px var(--headingColor);
}
.footer-down .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-down .logo p{
    font-size: 14px;
    color: var(--textColor);
}